[submodule "src/platform"]
	path = src/platform
	url = https://github.com/Pulse-Eight/platform
[submodule "support"]
	path = support
	url = https://github.com/Pulse-Eight/libcec-support.git
[submodule "src/dotnet"]
	path = src/dotnet
	url = https://github.com/Pulse-Eight/cec-dotnet.git
[submodule "external/p8-platform"]
	path = external/p8-platform
	url = https://github.com/Pulse-Eight/platform.git
